.article h1 {
    font-size: 40pt;
    color: rgb(255, 255, 255);
    font-weight: 700;
}

.article h2 {
    font-size: 30pt;
    font-weight: 500;
    color: rgb(255, 255, 255);
}

.article h3 {
    font-size: 23pt;
}

.article {
    font-size: 16pt;
}