@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    max-height: 100vh;
    overflow-x: hidden;
}

.bg {
    background-image: url("/Background.svg");
    background-position: top;
    background-size: cover;
}

::-webkit-scrollbar {
    background: rgba(0, 0, 0, 0);
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(76, 78, 226);
    border-radius: 10px 0px 0px 10px;
}