@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    max-height: 100vh;
    overflow-x: hidden;
}

.bloom {
    z-index: 999;
    color:transparent;
    pointer-events: none;
    position: fixed;
    inset: 0;
    backdrop-filter: saturate(1.75) blur(15px) brightness(2) opacity(0.2);
}

@keyframes loadbg {
  from {filter: saturate(0) blur(32px) opacity(0);}
}

.bg {
    background-image: url("https://w.wallhaven.cc/full/ex/wallhaven-exlxjr.jpg");
    background-position: top;
    background-size: cover;
    filter: saturate(1.5) blur(0px) opacity(0.4);
    pointer-events: none;
    animation-name: loadbg;
    animation-timing-function:ease-out;
    animation-duration:1s;
}

::-webkit-scrollbar {
    background: rgba(0, 0, 0, 0);
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(76, 78, 226);
    border-radius: 10px 0px 0px 10px;
}

.panel {
    overflow-y: hidden;
    overflow-x: hidden;
}