@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    max-height: 100vh;
    overflow: hidden;
}

.bg {
    background-image: url("/Background.svg");
    background-position: top;
    background-size: cover;
}

::-webkit-scrollbar {
    padding: 5px;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.24);
    border-radius: 5px;
}